/*

# Dirs
!/public
!/scripts
!/src

# Files
!/.gitignore
!/.prettierrc
!/eslint.electron.json
!/eslint.svelte.json
!/jest.config.json
!/LICENSE
!/nodemon.json
!/package.json
!/package-lock.json
!/README.md
!/rollup.config.js
!/tsconfig.electron.json
!/tsconfig.svelte.json
!/yarn.lock
