html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: transparent;
}

* {
	box-sizing: border-box;

	--code-background: #222B33;
	--code-border: #2C3638;
	--primary: #3DA2FF;
	--surface: #1E2022;
	--border: #2F2F2F;
	--panel: #1E1E1E;

	--g-surface: linear-gradient(to right, #1D2127, #2C3638);
	--g-active: linear-gradient(to bottom, #222B33, #1F2124);
}
